*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodycontainer{
   background: #ba2d6a;
background: radial-gradient(circle, rgba(186, 45, 106, 1) 41%, rgba(184, 197, 212, 1) 100%);
}
.header_title{
    color: rgb(66, 26, 188);
    font-weight:bolder;
}
body{
    height: 100%;
    width: 100%;

}
.subject{
    color: rgb(58, 37, 9);
}
a{
    text-decoration: none;
}
.container{
    max-width: 75vw;
    padding: 2rem 1rem;
    margin: 0 auto

}
.header_container{
    margin-bottom: 2.5rem;

}
.header_title{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.subject{
     max-width: 500px;
   text-align: center;
    margin: 0 auto;
   color: rgb(73, 68, 68);
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
}
@media (min-width:650px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1080px){
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
}
.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(72, 65, 65);
    border-radius: 5px;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
  

}
.image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_tittle_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}
.card_container:hover .image{
    transform: scale(1.2);
    transition-duration: 200ms;
}
.card_tittle{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(18, 1, 36);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}
.card_tittle_anchor:hover .card_tittle{
    color: rgb(13, 13, 22);
}
.card_desc{
    color: rgb(71, 66, 66);
    font-size: 1rem ;

}
.card_footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.author_container{
    display: flex;
   flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
}
.author_avtar_container{
    margin-left: 5px;
    height: 2.5rem;
    width: 2.5rem;
    /* overflow: hidden; */
   
}
.author_info_container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.cardtag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(68, 55, 55);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.5rem 0.5rem;
}